
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="~/Content/css/ButtonStyle.css" rel="stylesheet" />
    <link href="~/Content/Slider.css" rel="stylesheet" />
    <link href="~/Content/css/CustomCss.css" rel="stylesheet" />

</head>
<body>
    <div> 
        @RenderBody()
    </div>
</body>
</html>
